@import '~bootstrap/scss/bootstrap';
$success-color: #5cb85c;
$failure-color: #f00;
$white: #fff;
$off-white: #f5f5f5;
$grey: #383838;
$grape-light: rgba(107, 130, 168, 1);
$grape-dark: #2e4973;

@mixin flash($color) {
  background-color: $color;
  color: $white;
  padding: 10px;
}

.success {
  @include flash($success-color)
}

.failure {
  @include flash($failure-color)
}

body {
  background-color: $off-white;
  background-image: url('public/purple-grapes-553462_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $grey;
}

.form-control-credentials {
  background-color: $off-white;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.form-wrapper {
  background-color: $white;
  border-radius: 5px;
}

.container-main {
  margin-top: 40px;
}

.container-sign-up-in {
  padding-bottom: 40px;
  padding-top: 40px;
}

.box-wines {
  display: flex;
  flex-flow: row wrap;
  width: 900px;
}

.card-wine {
  margin: 3px;
}

.btn-wines-index {
  background-color: $grape-light;
  border: 0;
  width: 300px;

  &:hover {
    background-color: $grape-dark;
  }
}

.wine-img {
  height: 300px;
}

.tastings-form {
  width: 350px;
}
