@import '~bootstrap/scss/bootstrap';

body {
  background-color: #f5f5f5;
}

.container-main {
  margin-top: 40px;
}

.container-sign-up-in {
  padding-top: 40px;
  padding-bottom: 40px;
}

.box-wines {
  width: 900px;
  display: flex;
  flex-flow: row wrap;
}

.card-wine {
  margin: 3px;
}
